<div class="container">
  <div class="columns is-mobile">

    <div class="column is-half is-offset-one-quarter">
      <div class="box">
        <p>Use this tool to Generate your own passwords</p>
      </div>
      <div class="box">
        <h2 class="title">Password Genrator</h2>
      </div>
      <div class="field">
        <label class="label">Enter Password Length </label>
        <div class="control">
          <input class="input" type="text" placeholder="ex:9" (input)="onchangelength($event.target.value)">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="useletters()" />
            Use Letters
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="usenumbers()" />
            Use Numbers
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="usesymbols()" />
            Use Symbols
          </label>
        </div>
      </div>
      <div class="field ">
        <div class="control">
          <button class="button is-primary is-medium is-fullwidth" (click)="onButtonClick()"
            [disabled]="!(passwordlength && (includeletters || includenumbers || includesymbols))">Generate
          </button>
        </div>
      </div>
      <div class="field">
        <label class="label">Generated Password</label>
        <div class="control">
          <textarea class="textarea" placeholder="Generated Password" rows="2" [value]="password"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>