<h2>Password generator</h2>
<div>
  <label> Enter length</label>
  <input type="text" (input)="onchangelength($event.target.value)" />
</div>
<div>
  <label>Use Letters</label>
  <input type="checkbox" name="useletters" (change)="useletters()"/>
</div>
<div>
  <label>Use Numbers</label>
  <input type="checkbox" (change)="usenumbers()"/>
</div>
<div>
  <label>Use Symbols</label>
  <input type="checkbox" (change)="usesymbols()"/>
</div>
<div>
  <!-- event binding synatx (click)="onButtonClick()"-->
  <button type="button" (click)="onButtonClick()" [disabled]="!(passwordlength && (includeletters || includenumbers || includesymbols))">Generate</button>
</div>
<div>
  <label for=""> Generated Password</label>
  <input type="text"[value]="password"/>
</div>